<footer class="page-footer font-small blue pt-4 footerColor ">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3 text-center">
          <img class="rounded-circle" src="../../../assets/My_agenda.png" width="80px" alt="my_agenda" />
          <h3 class="mt-5 mb-5 letraFooter"><i>My agenda</i></h3>
        </div>
        

        <hr class="clearfix w-100 d-md-none pb-3" />

        <div class="col-md-4 mb-md-0 mb-3">
          <h3 class="text-uppercase letraFooter">Contáctenos</h3>

          <ul class="list-unstyled letraFooter">
            <li>
              <p>Edris Ríos Morales.</p>
            </li>
            <li>
              <p>Liberia, Costa Rica.</p>
            </li>
            <li>
              <p>Teléfonos: 6060-6733 </p>
            </li>
            <li>
              <p>
                Correo electrónico: <br/>edrisriosmorales@gmail.com
              </p>
            </li>
          </ul>
        </div>

        <div class="col-md-4 mb-md-0 mb-3">
          <h3 class="text-uppercase letraFooter">Redes sociales</h3>

          <ul class="list-unstyled">
            <li class="m-auto">
              <a href="https://www.facebook.com">
                <i
                  class="fab fa-facebook-f fa-lg fa-2x "
               
                ></i>
              </a>
              <a href="https://www.twitter.com">
                <i
                  class="fab fa-twitter fa-lg fa-2x"
                
                ></i>
              </a>
              <a href="https://www.instagram.com">
                <i
                  class="fab fa-instagram fa-lg fa-2x"
                 
                ></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 letraFooter">
      © 2021 Copyright:
    </div>
  </footer>