<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Clientes sucritos</h1>
      <p class="lead">Clientes suscritos a MyAgenda.</p>
    </div>
  </div>
<br>
<h2 class="text-center">Cantidad de clientes suscritos {{contador}}</h2>
<div class="container mt-5 mb-5">
    <table class="table table-dark table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">id #</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody >
            <tr *ngIf="!items.length">
                <td colspan="3">Sin resultados encontrados</td>
            </tr>
          <tr *ngFor="let item of items; let i = index">
            <td>#{{i}}</td>
            <td>{{item.nombre}}</td>
            <td>
                <button class="btn btn-danger" (click)="eliminarElemento(i)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div class="container mt-5 mb-5">
    <button class="btn btn-success" (click)="crearElemento()">Crear Elemento</button>

</div>

